In [2]:
#Question 1

# List of 10 students ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sorting the list
ages.sort() 

# Min and Max age of the sudents ages list
min_age, max_age = min(ages), max(ages) 

print("Min Age:", min_age)
print("Max Age:", max_age)

ages.insert(0,  min_age) # Insert min age at beginning

ages.insert(-1, max_age) # Insert max age at end

print("Ages list after inserting values:", ages)

# Caluculating median age
ages_list_len = len(ages)
mid_value  = ages_list_len//2 

if ages_list_len%2==0:
    median_age = (ages[mid_value] + ages[mid_value+1])/2
else:
    median_age = ages[mid_value]

print("Median Age:", median_age)

# Average Age
print("Average Age:",sum(ages)/ages_list_len) 

# Range of Ages max - min
print(f"Range of ages :", max_age - min_age)

Min Age: 19
Max Age: 26
Ages list after inserting values: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median Age: 24.0
Average Age: 22.75
Range of ages : 7

In [3]:
#Question 2

dog = dict() # An Empty dictionary dog

# Adding dog's name, color, breed, legs, age
dog['name']   = 'Puppy'
dog['color']  = 'white'
dog['breed']  = 'Dalmatian'
dog['legs']   = 4
dog['age']    = 10

print(dog)

# Student dictionary
student = dict({
    'first_name'    :'Pavan',
    'last_name'     :'Kalyan',
    'gender'        :'Male',
    'age'           : 24,
    'marital_status':'unmarried',
    'skills'        :['python','java'],
    'country'       :'India',
    'city'          :'Nuzvid'
    })
    
print(student)

# Len of student
print("Student length:", len(student))

# Get value of skills
print("Skills:", student.get('skills'))

# Add new skill
skills = student.get('skills')
skills.append('C#')
student['skills'] = skills

print("Updated Skills:", student.get('skills'))

# Get keys
print("Dictionary Keys:",list(student.keys()))

# Get Values
print("Dictionary Values:",list(student.values()))

{'name': 'Puppy', 'color': 'white', 'breed': 'Dalmatian', 'legs': 4, 'age': 10}
{'first_name': 'Pavan', 'last_name': 'Kalyan', 'gender': 'Male', 'age': 24, 'marital_status': 'unmarried', 'skills': ['python', 'java'], 'country': 'India', 'city': 'Nuzvid'}
Student length: 8
Skills: ['python', 'java']
Updated Skills: ['python', 'java', 'C#']
Dictionary Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city']
Dictionary Values: ['Pavan', 'Kalyan', 'Male', 24, 'unmarried', ['python', 'java', 'C#'], 'India', 'Nuzvid']

In [8]:
#Question 3

#Two tuples of sisters and brothers data
sisters  = ('Tiyasha', 'Kushboo',)
brothers = ('Raghu', 'Virat', 'Arjit',)

# Join brothers and sisters tuples
siblings = brothers + sisters
print("Siblings : ",siblings)

# No.of siblings
print("Number Of Siblings:", len(siblings))

#CASE 1: adding new tuple with parents details
father = 'Yuvraj'
mother = 'Ashi'

parents = (father, mother,) #Assigned father & mother names to a new tuple

family_members = parents+siblings # Added parents tuple with siblings tuple and assigned it to family members tuple

print("Family Members Details in CASE 1:",family_members)

#CASE 2: Coverting siblings tuple to list and adding parents details
temp_siblings=list(siblings) # Converted siblings tuple to list and assigned to temporary variable

temp_siblings.extend(["Yuvraj","Ashi"]) # Added father and mother names to temporary variable

family_members_updated=tuple(temp_siblings) # coverted the temp variable to tuple and assigned to family members

print("Family Members Details in CASE 2:",family_members_updated)

Siblings :  ('Raghu', 'Virat', 'Arjit', 'Tiyasha', 'Kushboo')
No.Of Siblings: 5
Family Members Details in CASE 1: ('Yuvraj', 'Ashi', 'Raghu', 'Virat', 'Arjit', 'Tiyasha', 'Kushboo')
Family Members Details in CASE 2: ('Raghu', 'Virat', 'Arjit', 'Tiyasha', 'Kushboo', 'Yuvraj', 'Ashi')

In [13]:
#Question 4

#Given data
it_companies = set(['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'])
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


# Length of set of it_companies
print("Length of set of it_companies: ", len(it_companies))

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

# Add multiple elements to it_companies
it_companies.update(['Infosys', 'TCS'])
print(it_companies)

# Remove one element from it_companies
it_companies.remove('TCS')
print(it_companies)

# Difference between remove() and discard()
# remove() and discard() methods are used to remove element from the set
# only difference is remove() will raise error if element is not present in the set
# while discard() won't raise error

# Join A and B
print('A Join B : ', A.union(B))

# A intersection B
print('A intersection B:', A.intersection(B))

# A subset of B
print('A subset of B:', A.issubset(B))

# disjoints A and B
print('A disjoint set B:', A.isdisjoint(B))
print('B disjoint set A:', B.isdisjoint(A))

# # A join B and B join A
A.update(B)
print('A join B:', A)
B.update(A)
print('B join A:', B)

# Symmetric difference
print('A symmetric difference B:', A.symmetric_difference(B))

# Delete Sets
del A
del B

# age list and set
age_set=set(age)
print("Len of age list:", len(age))
print("Len of age set:",len(age_set))
print(len(age)==len(age_set))

Length of set of it_companies:  7
{'Oracle', 'Microsoft', 'Apple', 'Amazon', 'Twitter', 'Google', 'IBM', 'Facebook'}
{'Oracle', 'Microsoft', 'Apple', 'Infosys', 'TCS', 'Amazon', 'Twitter', 'Google', 'IBM', 'Facebook'}
{'Oracle', 'Microsoft', 'Apple', 'Infosys', 'Amazon', 'Twitter', 'Google', 'IBM', 'Facebook'}
A Join B :  {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
A subset of B: True
A disjoint set B: False
B disjoint set A: False
A join B: {19, 20, 22, 24, 25, 26, 27, 28}
B join A: {19, 20, 22, 24, 25, 26, 27, 28}
A symmetric difference B: set()
Len of age list: 8
Len of age set: 5
False

In [14]:
#Question 5

import math

radius = 30

# Area of Circle
_area_of_circle_ = math.pi * radius**2
print(_area_of_circle_)

# Circumference of circle
_circum_of_circle_ = 2 * math.pi * radius
print(_circum_of_circle_)

ip_radius = float(input("Please enter radius of circle:"))
_area_of_circle_ = math.pi * ip_radius**2
print(_area_of_circle_)

2827.4333882308138
188.49555921538757
Please enter radius of circle:30
2827.4333882308138

In [18]:
#Question 6

ip_str = "I am a teacher and I love to inspire and teach people"

str_list   = ip_str.split(' ') # assigned all the individual words to a list using split function
uniq_words = set(str_list) # converted the list to set
print("Unique Words: ", uniq_words)
print(len(uniq_words))

Unique Words:  {'a', 'people', 'I', 'inspire', 'and', 'teach', 'teacher', 'am', 'love', 'to'}
10

In [19]:
#Question 7

print("Name \t Age\tCountry\tCity")
print("Asabeneh  250 \tFinland\tHelsinki")

Name 	 Age	Country	City
Asabeneh  250 	Finland	Helsinki

In [37]:
radius = 10 #assigned radius value
area   = 3.14 * (radius**2) # calculated the area

#printing the required format using string format method
print("radius = {0}".format(radius))
print("area = {0} * radius **2 ".format(area))
print("The area of a circle with radius {0} is {1} meters square.".format(radius,area))

radius = 10
area = 314.0 * radius **2
The area of a circle with radius 10 is 314.0 meters square.

In [40]:
#Question 9

N = int(input("Enter no.of students:")) # input from user

# input weights requested in comma separation format and assigned in a list
ip_list=[int(N) for N in input("Enter {0} weights with comma separation: ".format(N)).split(",")] 

print("Input List: ", ip_list)

result = []
for i in ip_list:
    result.append(round(i/2.205,2)) #converting weights from lbs to kgs and adding to result list
    
print("Output : ",result)

Enter no.of students:4
Enter 4 weights with comma separation: 155,150,145,148
Input List:  [155, 150, 145, 148]
Output :  [70.29, 68.03, 65.76, 67.12]